apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: nfd-leader-election-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: nfd-leader-election-role
subjects:
- kind: ServiceAccount
  name: nfd-manager
  namespace: node-feature-discovery-operator
