
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
    api-approved.kubernetes.io: "unapproved, experimental-only"
  creationTimestamp: null
  name: nodefeaturediscoveries.nfd.kubernetes.io
spec:
  group: nfd.kubernetes.io
  names:
    kind: NodeFeatureDiscovery
    listKind: NodeFeatureDiscoveryList
    plural: nodefeaturediscoveries
    singular: nodefeaturediscovery
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: NodeFeatureDiscovery is the Schema for the nodefeaturediscoveries
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NodeFeatureDiscoverySpec defines the desired state of NodeFeatureDiscovery
            properties:
              operand:
                description: OperandSpec describes configuration options for the operand
                properties:
                  image:
                    pattern: '[a-zA-Z0-9\-]+'
                    type: string
                  imagePullPolicy:
                    description: Image pull policy
                    type: string
                  namespace:
                    pattern: '[a-zA-Z0-9\.\-\/]+'
                    type: string
                type: object
              workerConfig:
                description: ConfigSpec describes configuration options for the NFD
                  worker
                properties:
                  configData:
                    description: BinaryData holds the NFD configuration file
                    type: string
                required:
                - configData
                type: object
            required:
            - operand
            - workerConfig
            type: object
          status:
            description: NodeFeatureDiscoveryStatus defines the observed state of
              NodeFeatureDiscovery
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of current state.
                items:
                  description: Condition represents the state of the operator's reconciliation
                    functionality.
                  properties:
                    lastHeartbeatTime:
                      format: date-time
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      description: ConditionType is the state of the operator's reconciliation
                        functionality.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
